html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue",sans-serif;
	font-weight: lighter;
	
}
img {
	width: 100%;
	height: auto;
}
.wrapper{

}
header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/background.jpg);
	background-size:cover;
	

	
	
}

.content {
	width: 80%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}



.menu {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
	padding: 10px;
	transition: .5s;
	background: #262626;
	text-align: center;
	box-sizing: border-box;

}

.menu ul{
	
	padding:40px 0px;
	margin: 0;
}
.menu li {
	list-style: none;
	font-family: sans-serif; 
	transition: all 0.3s;
}
.menu li a{
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	padding: 10px 0; 
}
.menu li:hover{
	background: #fc2827;
	
}


.menu.showing{

	left: 0px;
	
	
}

.social-icon
{
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0px;
	left: 0;
	display: flex;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.social-icon li
{
	width: 20%;
	text-align: center;
	padding: 20px 10px;

	list-style: none;
}
.social-icon li a
{
	display: block;
	font-size: 18px;
	color: #fff;
	border-radius: 50%;
	
	transition: .5s;
}
.social-icon li:hover
{
	background: #262626;
}
.social-icon a:hover
{
	background: #fc2827;
}

.cart-icon{
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	display: flex;
	right: 0;
	width: 35%;
	padding: 0px 20px;
	box-sizing: border-box;
	
	
	
}
.cart-icon li
{
	text-align: center;
	width: 30%;
	padding: 10px 10px;
	list-style: none;

}

.cart-icon li a 
{
	
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	
}

.cart-icon li i 
{
	display: block;
	
	font-size: 14px;
	color: #fff;
	margin-top: 4px;
	
	
}
.container{
	float: left;
	width: 100%;
	color: white;
	font-family: Monospace;
	font-size: 30px;
	text-align: center;
	margin-top: 250px;
}
.container .btn
{
	font-size: 28px;
	color: #fff;
	letter-spacing: 2px;
	margin: 15px;
	padding: 5px 28px;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 25px;
}
.container .btn1
{
	background: #2E2EFE;
}
.container .btn1:hover{
	background: #0000FF;
}
.container .btn2:hover{
	background: #D8D8D8;
	color: #000;
}



form{
	width: 57%;
	padding: 10px 80px;
	float: left;

}
input[type=text]{
	padding: 12px 4px;
	width: 80%;
	border:none;
	font-size:15px;
	font-family:sans-serif;
	border-radius:0px 0 0 0px;
	opacity: 0.7;

}
.btn-select
{
	padding: 2px;
	border:none;
	
	float: left;
	font-family:sans-serif;
	background:white;
	color:#000;
	border-radius:5px 0px 0px 5px;
	opacity: 0.8;
	position:relative;
	cursor:pointer;
}

select{
	display: block;
	
	border:none;
	color: #000;
	text-decoration: none;
	padding: 10px;
	opacity: 0.7;
}
.btn-search{
	padding:12px;
	border: none;
	font-size: 15px;
	
	font-family:sans-serif;
	background:orange;
	color:white;
	border-radius:0 5px 5px 0px;
	cursor:pointer;
	opacity: 0.7;
	position:absolute;
} 

@media screen and (max-width:768px){
	.btn-select{
		display: none;
	}
	.btn-select select{
		display: none;
	}
	input[type=text]{
		border-radius:5px 0px 0px 5px;
	}
	
}
.row1{
	position: fixed;
	width: 100%;
	transition: .5s;
}
.row1.black{
	background-color: rgba(0,0,0,0.8);
	
	padding: 10px 10px;
}
.row1.active{
	margin-left: 300px;
}

.menu-icon {
	position: absolute;
	left: 0;
	cursor: pointer;
	font-size: normal;
	padding: 10px 20px;
	color: white;
	transition: .5s;
	float: left;
}

.menu-icon span{
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px 0px;

}

@media (max-width: 367px) {
	.cart-icon{
		display: none;

	}

	form{
		height: 250px;
	}
	.row1 {height:auto;} 
}
@media (max-width: 577px)
{
	.cart-icon .icon3{
		display: none;
	}
	.cart-icon li i{
		display: none;

	}
	.cart-icon li{
		padding: 20px 7px;
	}
	.cart-icon{
		margin-right: -30px;

	}
	
	
	.container .btn{
		font-size: 15px;
		color: #fff;
		letter-spacing: 0px;
		margin: 0px;
		padding: 5px 5px;
		text-decoration: none;
		border: 1px solid white;
		border-radius: 25px;
	}
	.menu{
		width: 200px;
	}
	.social-icon li a
	{
		display: block;
		font-size: 18px;
		color: #fff;
		border-radius: 50%;

		transition: .5s;
	}
	.social-icon li:hover
	{
		background: #262626;
	}
	.social-icon a:hover
	{
		background: #262626;
		color: #fc2827;
	}
	.row1.active{
		margin-left: 200px;
	}
	.row1{
		height: 55px;
	}
	form{
		height: 250px;
	}
	header{
		background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/background2.jpg);
	}
}
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }